<!DOCTYPE html "-//W3C//DTD "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>人社部拟发布12个新职业 具体有哪些？一起来看→ - 中国日报网</title>
    <meta name="keywords" />
    <meta name="description" content="近日，人社部办公厅发布《关于对拟发布船舶岸基管理工程技术人员等职业信息进行公示的公告》，《公告》拟发布12个新职业。" />
    
      <meta property="og:xi" content="0" />
      <meta property="og:title" content="人社部拟发布12个新职业 具体有哪些？一起来看→" />
      <meta property="og:recommend" content="0" />
      <meta property="og:url" content="https://cn.chinadaily.com.cn/a/202607/03/WS6a474c43a310d709c2fbbaf8.html" />
      <meta property="og:image" content="https://img3.chinadaily.com.cn/images/202607/03/6a474d90a310d709a7a0415f.png" />
      
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@ChinaDailyApp" />
      <meta name="twitter:title" content="人社部拟发布12个新职业 具体有哪些？一起来看→" />
      <meta name="twitter:description" content="近日，人社部办公厅发布《关于对拟发布船舶岸基管理工程技术人员等职业信息进行公示的公告》，《公告》拟发布12个新职业。" />
      
        
        <meta name="twitter:image:src" content="https://img3.chinadaily.com.cn/images/202607/03/6a474d90a310d709a7a0415f.png" />
        
        
        
        <meta name="twitter:image" content="https://img3.chinadaily.com.cn/images/202607/03/6a474d90a310d709a7a0415f.png" />
        
        
      
      
      
        <meta property="twitter:image" content="https://www.chinadaily.com.cn/image_e/2020/logo21.jpg" />
        <meta property="twitter:image:src" content="https://www.chinadaily.com.cn/image_e/2020/logo21.jpg" />
      
      
      <meta name="shareImg" content="//img3.chinadaily.com.cn/images/202607/03/6a474d90a310d709a7a0415f.png" />
      <meta name="msapplication-TileImage" content="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
      <link rel="apple-touch-icon-precomposed" href="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
    
    <!-- 共公部分样式和JS代码 -->
    <link rel="stylesheet" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/swiper.min.css" />
    <link rel="stylesheet" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/swiper-bundle.min.css" />
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/publicstyle.css?ver=10" />
    <!--头部和尾部右侧二维码-->
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/instyle.css?ver=5" />
    <!--首页单独css-->
    <link rel="stylesheet" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/public.css" />
    <link rel="stylesheet" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/main.css?ver=5" />
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/contentimgtouch.css" />

    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/common/js/jquery.min.js"></script>
    <script xml:space="preserve" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/js/swiper.min.js"></script>
    <script xml:space="preserve" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/js/swiper-bundle.min.js"></script>
    <script src="https://share.chinadaily.com.cn/wxshare/js/jsonps.js" xml:space="preserve"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/common/js/jweixin-1.6.0.js"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/js/ewm2.js"></script>
    <!--返回顶部-->
    <!-- 共公部分样式和JS代码 End-->


    <!-- 20240517 新改五页样式 -->
    <link rel="stylesheet" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/2024FivePage.css?ver=45" />
    
      <meta name="articaltype" content="COMPO" />
      <meta name="filetype" content="1" />
      <meta name="publishedtype" content="1" />
      <meta name="pagetype" content="1" />
      <meta name="catalogs" content="5bd54bdea3101a87ca8ff5f0" />
      <meta name="contentid" content="WS6a474c43a310d709c2fbbaf8" />
      <meta name="publishdate" content="2026-07-03" />
      <meta name="editor" content="王文倩" />
      <meta name="author" content="王文倩" />
      <meta name="source" content="央视新闻客户端" />

      <!--来源-->
      <meta name="webterren_speical" content="6" />
      <meta name="sourcetype" content="6" />
 <script type="application/ld+json">

{
    "@context": "https://schema.org",
    "@type":"NewsArticle",
    "headline":"人社部拟发布12个新职业 具体有哪些？一起来看→",
    "url":"https://cn.chinadaily.com.cn/a/202607/03/WS6a474c43a310d709c2fbbaf8.html",

  "image":"https://img3.chinadaily.com.cn/images/202607/03/6a474d90a310d709a7a0415f.png",
    


    "datePublished": "2026-07-03T11:09:08+08:00",
    "dateModified": "2026-07-03T11:09:08+08:00",
    

    
    "publisher":{
        "@type":"Organization",
        "name":"央视新闻客户端"
    },
    
   
"description":"近日，人社部办公厅发布《关于对拟发布船舶岸基管理工程技术人员等职业信息进行公示的公告》，《公告》拟发布12个新职业。",
    
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://cn.chinadaily.com.cn/a/202607/03/WS6a474c43a310d709c2fbbaf8.html"
    }
}

      </script>
    
  </head>

  <body>
    <div style="display:none;">
   <img src="https://cn.chinadaily.com.cn/image/2025/sharelogo2.jpg" />
      <h1>人社部拟发布12个新职业 具体有哪些？一起来看→</h1>
      <h2>近日，人社部办公厅发布《关于对拟发布船舶岸基管理工程技术人员等职业信息进行公示的公告》，《公告》拟发布12个新职业。</h2>
    </div>
    <script type="text/javascript" xml:space="preserve">

      function is_weixin(){
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)=="micromessenger") {
          return true;
        } else {
          return false;
        }
      }
      var url =location.href;
      if(is_weixin()){
        console.log("微信验证");
        $.post('https://share.chinadaily.com.cn/wxshare/api/wxinit', {url:url}, function(data){
          wx.config({
            debug: false,
            appId: data.appid,
            timestamp: data.timestamp,
            nonceStr: data.noncestr,
            signature: data.sign,
            jsApiList: ['onMenuShareTimeline','updateAppMessageShareData']
          }),
            wx.ready(function(){
            console.log("微信验证成功!");
            wx.onMenuShareTimeline({
              title: '\u4EBA\u793E\u90E8\u62DF\u53D1\u5E0312\u4E2A\u65B0\u804C\u4E1A \u5177\u4F53\u6709\u54EA\u4E9B\uFF1F\u4E00\u8D77\u6765\u770B\u2192',
              link: url,
              imgUrl: 'https://cn.chinadaily.com.cn/image/2025/sharelogo2.jpg'
            });
            var data = {
              title: '\u4EBA\u793E\u90E8\u62DF\u53D1\u5E0312\u4E2A\u65B0\u804C\u4E1A \u5177\u4F53\u6709\u54EA\u4E9B\uFF1F\u4E00\u8D77\u6765\u770B\u2192',
              desc:  '\u8FD1\u65E5\uFF0C\u4EBA\u793E\u90E8\u529E\u516C\u5385\u53D1\u5E03\u300A\u5173\u4E8E\u5BF9\u62DF\u53D1\u5E03\u8239\u8236\u5CB8\u57FA\u7BA1\u7406\u5DE5\u7A0B\u6280\u672F\u4EBA\u5458\u7B49\u804C\u4E1A\u4FE1\u606F\u8FDB\u884C\u516C\u793A\u7684\u516C\u544A\u300B\uFF0C\u300A\u516C\u544A\u300B\u62DF\u53D1\u5E0312\u4E2A\u65B0\u804C\u4E1A\u3002',
              link: url,
              imgUrl: 'https://cn.chinadaily.com.cn/image/2025/sharelogo2.jpg'
            };
            wx.updateAppMessageShareData(data);
          }),
            wx.error(function(res){
            console.log("微信验证失败!");
          })
        });
      }
    </script>
    <div class="pc">
      
      <!-- Top_Banner -->
      <div class="Top_Banner Cen1200">
        <div class="Top_Banner_logo">
          <a href="https://cn.chinadaily.com.cn" target="_top"><img src="https://cn.chinadaily.com.cn/image/2025/logo_cntop.png" /></a>
        </div>
        <div class="Top_Banner_Search">
          <div class="search radius6">
            <form name="searchform" method="post" action="" id="searchform" enctype="application/x-www-form-urlencoded">
              <input name="ecmsfrom" type="hidden" value="9" />
              <input type="hidden" name="show" value="title,newstext" />
              <div class="select_box">
                <div class="select_showbox" style="cursor:pointer;"></div>
                <ul class="select_option">
                  <li class="option-item" data-value="1">站内搜索</li>
                  <li class="option-item" data-value="2">搜狗搜索</li>
                  <li class="option-item" data-value="0">中国搜索</li>
                </ul>
              </div>
              <input class="inp_srh" type="text" id="searchtxt" value="" onfocus="clearword(this)" />
              <img id="searchimg" style="width:30px;height:30px;" src="//img3.chinadaily.com.cn/static/common/img/j-q.jpg" />
            </form>
            <script xml:space="preserve">
              //<![CDATA[
              var selectBox = document.getElementsByClassName('select_box')[0];
              var selectShowBox = document.getElementsByClassName('select_showbox');
              var selectOption = document.getElementsByClassName('select_option')[0];
              var optionItem = document.getElementsByClassName('option-item');
              /*var optionNum = 1 ;	*/
              /*默认是第一个选项*/
              selectShowBox[0].innerHTML = optionItem[0].innerHTML;
              /*点击后出现下拉框*/ 
              selectBox.addEventListener('click', function () {
                selectOption.style.display = 'block';
                selectShowBox[0].style.background = 'url("https://cn.chinadaily.com.cn/image/2015/j-x.jpg") no-repeat right center';
              }, true);
              /*点击选项后出现在下拉框*/
              var len = optionItem.length;
              for (var i = 0; i < len; i++) {
                optionItem[i].index = i;
                optionItem[i].addEventListener('click', function () {
                  selectShowBox[0].innerHTML = optionItem[this.index].innerHTML;
                  selectOption.style.display = 'none';
                  selectShowBox[0].style.background = 'url("https://cn.chinadaily.com.cn/image/2015/j-s.jpg") no-repeat right center';
                  /*  optionNum = optionItem[this.index].getAttribute('data-value');	*/
                }, true);
              }
              /*点击其他地方时，select会收起来*/
              document.body.addEventListener('click', function () {
                selectOption.style.display = 'none';
                selectShowBox[0].style.background = 'url("https://cn.chinadaily.com.cn/image/2015/j-s.jpg") no-repeat right center';
              }.true);
              var oSearchForm = document.getElementById('searchform');
              var oSearchImg = document.getElementById('searchimg');
              var oSearchTxt = document.getElementById('searchtxt');
              var reg = /^\s*$/g;
              document.onkeydown = keyevent;
              oSearchImg.onclick = In_search;
              function clearword(obj) {
                obj.value = '';
              }
              function keyevent(ev) {
                var oEv = ev || window.event;
                if (oEv.keyCode == 13) {
                  In_search();
                }
                else { }
              }
              function In_search() {
                if (!reg.test(oSearchTxt.value)) {
                  if(selectShowBox[0].innerHTML == '中国搜索'){
                    oSearchForm.action = 'http://www.chinaso.com/search/pagesearch.htm?q='+oSearchTxt.value;
                    oSearchForm.target = '_blank';
                    oSearchForm.submit();
                  }
                  else if(selectShowBox[0].innerHTML == '站内搜索'){
                    oSearchForm.action = '//newssearch.chinadaily.com.cn/cn/search?query='+oSearchTxt.value;
                    oSearchForm.target = '_blank';
                    oSearchForm.submit();
                  }
                  else if(selectShowBox[0].innerHTML == '搜狗搜索'){
                    oSearchForm.action = 'https://www.sogou.com/web?query=' + oSearchTxt.value + '&amp;insite=chinadaily.com.cn&amp;pid=sogou-wsse-04f19115dfa286fb';
                    oSearchForm.target = '_blank';
                    oSearchForm.submit();
                  }
                }
                else {
                  alert('请输入搜索内容');
                }
              }
              //]]>
            </script>
          </div>
        </div>
        <div class="Top_Banner_Links">
          <!-- <a href="javascript:void(0)" onclick="aria.start()"><em></em></a>	-->
          <span><a href="https://www.chinadaily.com.cn/e/subscribe" target="_blank">订阅</a></span>
          <span><a href="https://www.chinadaily.com.cn/e/static_e/newmedia" target="_blank">移动</a></span>
          <span><a href="https://www.chinadaily.com.cn/" target="_blank">English</a></span>
        </div>
      </div>
      <!-- Top_Menu_Box -->
      <div class="Top_Menu_Box">
        <div class="Top_Menu_Div Cen1200">
          <ul>
            <li><a target="_blank" href="//cn.chinadaily.com.cn">首页</a></li>
            <li>
              <a target="_blank" href="//china.chinadaily.com.cn">时政</a>
              <em></em>
              <div class="Top_MenuLevel_Div" id="Top_MenuLevel1">
                <div class="Top_MenuLevel_Item">
                  <a target="_blank" href="//china.chinadaily.com.cn/5bd5639ca3101a87ca8ff636">时政要闻</a>
                  </div>
                <div class="Top_MenuLevel_Item"> 
                  <a target="_blank" href="//china.chinadaily.com.cn/5bd5639ca3101a87ca8ff634">评论频道</a>
                  </div>
                <div class="Top_MenuLevel_Item"> 
                  <a target="_blank" href="//china.chinadaily.com.cn/theory">理论频道</a>
                  </div>
                <div class="Top_MenuLevel_Item">
                  <a target="_blank" href="//china.chinadaily.com.cn/xuexi">学习时代</a>
                  </div>
                <div class="Top_MenuLevel_Item">
                  <a target="_blank" href="//tw.chinadaily.com.cn">两岸频道</a>
                  </div>
              </div>
            </li>
            <li>
              <a target="_blank" href="//world.chinadaily.com.cn">资讯</a>
              <em></em>
              <div class="Top_MenuLevel_Div" id="Top_MenuLevel2">
                <div class="Top_MenuLevel_Item">  
                  <a target="_blank" href="//world.chinadaily.com.cn/5bd55927a3101a87ca8ff618">独家</a>
                  </div>
                <div class="Top_MenuLevel_Item">
                  <a target="_blank" href="//cn.chinadaily.com.cn/c/5bd54dd6a3101a87ca8ff5f8/5bd54e59a3101a87ca8ff606">中国日报专稿</a>
                  </div>
                <div class="Top_MenuLevel_Item"> 
                  <a target="_blank" href="//cn.chinadaily.com.cn/c/5bd549f1a3101a87ca8ff5e0">传媒动态</a>
                   </div>
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/Word" target="_blank">双语词解</a></div>
                <div class="Top_MenuLevel_Item">
                  <a href="https://fygg.chinadaily.com.cn/" target="_blank">法院公告</a>
                </div>
              </div>
            </li>
             <li>
              <a target="_blank" href="//caijing.chinadaily.com.cn">C财经</a>
              <em></em>
              <div class="Top_MenuLevel_Div" id="Top_MenuLevel3">
                <div class="Top_MenuLevel_Item">  
                  <a target="_blank" href="//caijing.chinadaily.com.cn/5b7620c4a310030f813cf452">独家</a>
                  </div>
                 <div class="Top_MenuLevel_Item">  
                  <a target="_blank" href="//caijing.chinadaily.com.cn/stock/5f646b7fa3101e7ce97253eb">信披</a>
                  </div>
              </div>
            </li>

            <li><a href="//kan.chinadaily.com.cn/" target="_blank">视频</a> </li>
            <li><a href="http://column.chinadaily.com.cn/" target="_blank">专栏</a>
            </li>
            <!-- <li><a href="//language.chinadaily.com.cn/" target="_blank">双语</a><em></em>
<div class="Top_MenuLevel_Div" id="Top_MenuLevel6">
<div class="Top_MenuLevel_Item"><a href="https://language.chinadaily.com.cn/news_bilingual/sycx" target="_blank">双语财讯</a></div>
<div class="Top_MenuLevel_Item"><a href="https://language.chinadaily.com.cn/news_hotwords/word_of_the_day" target="_blank">每日一词</a></div>
<div class="Top_MenuLevel_Item"><a href="https://language.chinadaily.com.cn/news_bilingual/" target="_blank">双语新闻</a></div>
<div class="Top_MenuLevel_Item"><a href="https://language.chinadaily.com.cn/news_hotwords/" target="_blank">新闻热词</a></div>
<div class="Top_MenuLevel_Item"><a href="https://language.chinadaily.com.cn/trans_collect" target="_blank">译词课堂</a></div>
</div>
</li>	-->
            <li><a href="http://cartoon.chinadaily.com.cn/" target="_blank">漫画</a></li>
            <li>
              <a target="_blank" href="//cn.chinadaily.com.cn/gtx">观天下</a>
              <em></em>
              <div class="Top_MenuLevel_Div" id="Top_MenuLevel7">
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/ChinaWatch" target="_blank">中国观察</a></div>
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/wangping" target="_blank">中国日报网评</a></div>
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/Teahouse" target="_blank">中国那些事儿</a></div>
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/Overseas" target="_blank">海外手记</a></div>
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/qyq" target="_blank">侨一瞧</a></div>
              </div>
            </li>
            <li>
              
                <a target="_blank" href="//cnews.chinadaily.com.cn">地方</a>
              
            </li>
          <li>
              <a href="https://wenchuang.chinadaily.com.cn/" target="_blank">文化</a>
              <em></em>
              <div class="Top_MenuLevel_Div" id="Top_MenuLevel4">
           
                <div class="Top_MenuLevel_Item">
                  <a href="https://culturepedia.chinadaily.com.cn/#/homePage" target="_blank">文化知识库</a>
                </div>
                <div class="Top_MenuLevel_Item">
                  <a target="_blank" href="//world.chinadaily.com.cn/Chinadata">中国有约</a>
                  </div>


              </div>
            </li>
          </ul>
        </div>
      </div>
    
    </div>
    <div class="mobile">
      
      <div class="top_phone">
        <div class="header_top Cen1200">
          <div class="header_img">
            <img class="nav_phone_logo" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Mobile/Icon_Menu.png" />
          </div>
          <div class="header_top_Logo">
            <a href="https://cn.chinadaily.com.cn" target="_top" shape="rect">
              <img src="https://cn.chinadaily.com.cn/image/2025/logo_cntop.png" />
            </a>
          </div>
          <div class="Artical_Share_BT2"><EM></EM>
          </div>
        </div>
      </div>
      <div class="Menu_div">
        <div class="Menu">
          <p><a href="#"><img class="navClose" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Mobile/Icon_MenuClose.png" /></a></p>
          <ul>
            <li class="nav_Latest"><a href="https://www.chinadaily.com.cn" target="_top" shape="rect">China Daily Homepage</a></li>
            <li><a href="https://cn.chinadaily.com.cn/" target="_top" shape="rect">中文网首页</a></li>
            <li><a href="https://china.chinadaily.com.cn/" target="_top" shape="rect">时评</a></li>
            <li><a href="https://world.chinadaily.com.cn/" target="_top" shape="rect">资讯</a></li>
            <li><a href="https://caijing.chinadaily.com.cn/" target="_top" shape="rect">C财经</a></li>
            <li><a href="https://fashion.chinadaily.com.cn/" target="_top" shape="rect">生活</a></li>
            <li><a href="https://kan.chinadaily.com.cn/" target="_top" shape="rect">视频</a></li>
            <li><a href="https://column.chinadaily.com.cn/" target="_top" shape="rect">专栏</a></li>
            <!--  <li><a href="https://language.chinadaily.com.cn/" target="_top" shape="rect">双语</a></li>	-->
            <li><a href="https://cartoon.chinadaily.com.cn/" target="_top" shape="rect">漫画</a></li>
            <li><a href="https://cn.chinadaily.com.cn/yuanchuang/" target="_top" shape="rect">原创</a></li>
            <li><a href="https://cn.chinadaily.com.cn/gtx/" target="_top" shape="rect">观天下</a></li>
            <li><a href="https://cnews.chinadaily.com.cn" target="_blank">地方频道</a></li>
          </ul>
        </div>
      </div>
      <div class="Share_Box">
        <ul>
          <li>
            <a href="https://cn.chinadaily.com.cn/a/202407/01/WS66823b37a3107cd55d2694da.html" target="_blank"><img src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Mobile/Artical_Share_Icon1.png" /></a>
          </li>
          <li><a target="_blank" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=人社部拟发布12个新职业 具体有哪些？一起来看→&amp;pic=https://img3.chinadaily.com.cn/images/202607/03/6a474d90a310d709a7a0415f.png&amp;url=https://cn.chinadaily.com.cn/a/202607/03/WS6a474c43a310d709c2fbbaf8.html"><img alt="weibo" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Mobile/Artical_Share_Icon2.png" /></a></li>
          <li><a target="_blank" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=人社部拟发布12个新职业 具体有哪些？一起来看→&amp;pics=https://img3.chinadaily.com.cn/images/202607/03/6a474d90a310d709a7a0415f.png&amp;url=https://cn.chinadaily.com.cn/a/202607/03/WS6a474c43a310d709c2fbbaf8.html"><img alt="qqzone" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Mobile/Artical_Share_Icon3.png" /></a></li>
          <!--  <li><a th:href="'https://www.facebook.com/sharer.php?title=' + ${story.title} + '&amp;u=' + ${story.url}" target="_blank"><img cms:pr-src="img/Mobile/Artical_Share_Icon4.png" alt="facebook"/></a></li>
<li><a th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img cms:pr-src="img/Mobile/Artical_Share_Icon5.png" alt="linkedin"/></a></li>
<li><a th:href="'https://twitter.com/share?text='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img cms:pr-src="img/Mobile/Artical_Share_Icon6.png" alt="x"/></a></li>	-->
        </ul>
        <p>
          <Span class="Share_Close">关闭</Span>
        </p>
      </div>
    
    </div>

    <!-- Nav_Div -->
    <div class="Nav_Div Cen1200">
      <a href="https://cn.chinadaily.com.cn" target="_blank" shape="rect">中国日报网</a> &gt; <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/c/5bd54ba2a3101a87ca8ff5ee/5bd54bdea3101a87ca8ff5f0">要闻</a> &gt;
    </div>
    <div class="Artical_Body_Div Cen1200">
      <div class="Artical_Body_Left">
        <div class="Artical_Title">          
          <h1>人社部拟发布12个新职业 具体有哪些？一起来看→</h1>
          <div class="Artical_Share">
            <div class="Artical_Share_Source">
              <span>
                来源：央视新闻客户端
              </span>
              <span class="Artical_Share_Date">2026-07-03 11:09</span>
            </div>

            <div class="Artical_Share_BT"><EM></EM>
              <div class="Artical_Share_BT_Box">
                <ul>
                  <li><a href="#" shape="rect"><img alt="weixin" id="weixinqrcode" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Artical_Share_Icon1.png" /></a></li>
                  <li><a target="_blank" shape="rect" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=人社部拟发布12个新职业 具体有哪些？一起来看→&amp;pic=https://img3.chinadaily.com.cn/images/202607/03/6a474d90a310d709a7a0415f.png&amp;url=https://cn.chinadaily.com.cn/a/202607/03/WS6a474c43a310d709c2fbbaf8.html"><img alt="weibo" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Artical_Share_Icon2.png" /></a></li>
                  <li><a target="_blank" shape="rect" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=人社部拟发布12个新职业 具体有哪些？一起来看→&amp;pics=https://img3.chinadaily.com.cn/images/202607/03/6a474d90a310d709a7a0415f.png&amp;url=https://cn.chinadaily.com.cn/a/202607/03/WS6a474c43a310d709c2fbbaf8.html"><img alt="qqzone" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Artical_Share_Icon3.png" /></a></li>
                  <!-- <li><a th:href="'https://www.facebook.com/sharer.php?title=' + ${story.title} + '&amp;u=' + ${story.url}" target="_blank"><img cms:pr-src="img/Artical_Share_Icon4.png" alt="facebook"/></a></li>
<li><a th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img cms:pr-src="img/Artical_Share_Icon5.png" alt="linkedin"/></a></li>
<li><a th:href="'https://twitter.com/share?text='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img cms:pr-src="img/Artical_Share_Icon6.png" alt="x"/></a></li>	-->
                </ul>
                <div id="qrcode" class="qrcode">
                  <span>分享到微信<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" class="qucodeclose" /></span>
                  <div id="qrcodearea" class="qrcodearea">
                  </div>
                </div>
                <script type="text/javascript" src="//www.chinadaily.com.cn/js/2020/qrcode.min.js" xml:space="preserve"></script><!--二维码生成-->
                <script xml:space="preserve">

                  $(document).ready(function(){
                    $("#weixinqrcode").click(function(){
                      /*  $(".moreshare").hide();	*/
                      if($("#qrcode").css("display")=='block')
                        $("#qrcode").hide();
                      else $("#qrcode").show();
                    });
                    $(".qucodeclose").click(function(){
                      if($("#qrcode").css("display")=='block')
                        $("#qrcode").hide();
                    });
                    var qrcode = new QRCode(document.getElementById("qrcodearea"), {
                      width : 180,
                      height : 180
                    });
                    var curUrl = location.href;
                    qrcode.makeCode(curUrl);
                  });
                </script>
              </div>
            </div>
          </div>

          <div class="Artical_Content">
            <div id="Content">
              
              
              
              <p>近日，人社部办公厅发布《关于对拟发布船舶岸基管理工程技术人员等职业信息进行公示的公告》，《公告》拟发布12个新职业，并将信息面向全社会公示，征集公众意见建议，公示反馈截止时间为2026年7月17日。</p>
<p>新职业具体有哪些？都是干啥的？一起来看↓</p>
<p><strong>船舶岸基管理工程技术人员：</strong></p>
<p>从事船舶航行岸基安全保障、设备技术管控、营运合规监督、防污染管理、应急处置及安全管理制度运行监控的工程技术人员。</p>
<p><strong>动物实验工程技术人员：</strong></p>
<p>从事实验动物繁育体系构建、实验动物和动物实验质量标准制定、实验工程设计、技术研发推广的工程技术人员。</p>
<p><strong>数字孪生工程技术人员S（S表示数字职业，下同）：</strong></p>
<p>从事数字孪生技术研发、规划设计、工程实施、调试优化及运行维护的工程技术人员。</p>
<p><strong>具身智能机器人应用技术员S：</strong></p>
<p>使用遥操作设备、空间数字化工具及仿真测试平台，从事具身智能机器人多模态交互数据的采集与处理、算法模型的微调与适配、系统软硬件的现场部署与调试，以及运行效能监控与维护优化的人员。</p>
<p><strong>工业产品数字建模师S：</strong></p>
<p>使用数字化设计、产品数据管理等软件，从事工业产品三维模型构建、零部件设计、装配验证和工程图输出的人员。</p>
<p><strong>企业可持续发展规划师：</strong></p>
<p>从事企业环境、社会与治理可持续发展规划管理工作的人员。</p>
<p><strong>微电网管理员L/S（L表示绿色职业，下同）：</strong></p>
<p>使用微电网能量管理系统等，监测、预测和分析微电网电力数据，制定、执行微电网运行策略，实施并离网切换、并网和孤岛运行、黑启动，分析和评估微电网性能的人员。</p>
<p><strong>运动数据分析师S：</strong></p>
<p>从事体育运动数据收集、清洗、挖掘、分析，编制并应用运动表现分析报告的人员。</p>
<p><strong>制香香艺师：</strong></p>
<p>以天然香材为原料，通过原料甄选、炮制、合方、成型、窖藏等技艺，制作香制品，进行香艺艺术实践与传播工作的人员。</p>
<p><strong>氢燃料电池制造工L：</strong></p>
<p>使用搅拌、涂布、热压、激光切割、测试平台等设备和工具，处理材料、制备部件，组装、调测氢燃料电池堆和系统，制造氢燃料电池的人员。</p>
<p><strong>卫星导航设备装调工：</strong></p>
<p>使用频谱仪、卫星信号模拟器等仪器、设备和工具，装配、调试卫星导航设备的人员。</p>
<p><strong>电解水制氢工L：</strong></p>
<p>操作整流柜、电解槽、气体干燥净化装置、压缩机、储氢罐等设备，进行波动电源调节、原料制备、氢气生产、分离提纯、储存输送等作业的人员。</p>
<p><strong>社会各界可通过两种正规渠道提交意见建议：</strong></p>
<p>一是发送电子邮件至：cetticdd@mohrss.gov.cn，邮件主题标明“船舶岸基管理工程技术人员等职业信息公示反馈”，同时在邮件中注明建议人姓名、单位及联系方式。</p>
<p>二是发送传真至：010-84207467，同时注明建议人姓名、单位及联系方式。</p>
              
              
              <div style="float:none; clear:both;font-size:18px; " id="prope">
                
              </div>
              
      
    
              <div class="selectpage">
                <!--移动分页-->
                
              </div>
              <div class="Artical_ZB">
                
                【责任编辑：王文倩】
              </div>
            </div>
            <div id="storyType" style="display:none;">COMPO</div>
            <div id="ID" style="display:none;">WS6a474c43a310d709c2fbbaf8</div>
            <div id="url" style="display:none;">https://cn.chinadaily.com.cn/a/202607/03/WS6a474c43a310d709c2fbbaf8.html</div>
          </div>
          <div class="ad" style="margin-bottom:20px;display:none;">
            <a href="https://liuyan.www.gov.cn/2025wwzfgzbgtjy/index.htm?q=zgrbw" target="_blank" shape="rect"> <img style="max-width:100%;" src="https://img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/ad20241223.jpg" /></a>
          </div>
        </div>
      </div>
      <div class="Artical_Body_Right">
        <div class="Aritical_Special_Div">
          <!--中文首页-专题推荐 	5bd54ba2a3101a87ca8ff5ec-->
          <div class="Artical_Right_Title">
            
              <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/c/5bd54ba2a3101a87ca8ff5ec">专题</a>
            
          </div>
          <div class="Aritical_Special_List">
            <ul>
              
                
                  <li>
                    <p><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202606/12/WS6a2bcc12a310942cc49b17fc.html"><img src="//img3.chinadaily.com.cn/images/202606/12/6a2bcc12a310942c0d614f45.jpeg" /></a></p>
                    <h4><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202606/12/WS6a2bcc12a310942cc49b17fc.html">活力中国调研行</a></h4>
                  </li>
                
                
                  <li>
                    <p><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202606/08/WS6a26278ea310942cc49b0671.html"><img src="//img3.chinadaily.com.cn/images/202606/08/6a2627d4a310942c0d611ffb.jpeg" /></a></p>
                    <h4><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202606/08/WS6a26278ea310942cc49b0671.html">牢记初心使命 奋进复兴征程</a></h4>
                  </li>
                
                
                  <li>
                    <p><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202606/02/WS6a057333a310942cc49ac376.html"><img src="//img3.chinadaily.com.cn/images/202605/14/6a058fffa310942c0d603ccc.jpeg" /></a></p>
                    <h4><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202606/02/WS6a057333a310942cc49ac376.html">稳就业促发展</a></h4>
                  </li>
                
                
                  <li>
                    <p><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202606/01/WS649a6b04a310ba94c56139f9.html"><img src="//img3.chinadaily.com.cn/images/202403/03/65e416fca3109f7844fbf8ea.jpeg" /></a></p>
                    <h4><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202606/01/WS649a6b04a310ba94c56139f9.html">独好会昌</a></h4>
                  </li>
                
              
            </ul>

          </div>
        </div>
        <div class="Aritical_HotNews_Div">
          <!--中文首页-当日要闻-要闻 	5bd54bdea3101a87ca8ff5f0-->
          <div class="Artical_Right_Title">
            
              <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/c/5bd54ba2a3101a87ca8ff5ee/5bd54bdea3101a87ca8ff5f0">推荐阅读</a>
          </div>
          <div class="Aritical_HotNews_List">
            
              <ul>
                 <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474db7a310d709c2fbbb14.html">吹空调后浑身难受？教你几招防护方法 | 时令节气与健康</a></li>
                
                 <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474ce2a310d709c2fbbb0e.html">教育部：不得以“夏令营”等名义变相组织考试</a></li>
                
                 <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474cbba310d709c2fbbb0a.html">瑞士队战胜阿尔及利亚队晋级世界杯16强</a></li>
                
                 <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474c4ba310d709c2fbbaf9.html">WTT美国大满贯 王楚钦止步男单16强</a></li>
                
                 <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474c9fa310d709c2fbbb05.html">特朗普称美国与北约的关系“荒谬”</a></li>
                
                 <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474c89a310d709c2fbbb01.html">日本宫古岛西北近海发生6.4级地震</a></li>
                
                 <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474c43a310d709c2fbbaf8.html">人社部拟发布12个新职业 具体有哪些？一起来看→</a></li>
                
                 <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a4726baa310d709c2fbba83.html">淘汰奥地利 西班牙挺进世界杯16强</a></li>
                  </ul>
            

          </div>
        </div>
        <div class="Aritical_HotNews_Div">
          <img style="width:100%;" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/ad20240613.jpg" />
        </div>

      </div>
    </div>

    <div class="mobile">
      <div class="Aritical_HotNews_Div">
        <div class="Artical_Right_Title">
          
            <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/c/5bd54ba2a3101a87ca8ff5ee/5bd54bdea3101a87ca8ff5f0">推荐阅读</a>
        </div>

        <div class="Aritical_HotNews_List">
          
            <ul>
               <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474db7a310d709c2fbbb14.html">吹空调后浑身难受？教你几招防护方法 | 时令节气与健康</a></li>
              
               <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474ce2a310d709c2fbbb0e.html">教育部：不得以“夏令营”等名义变相组织考试</a></li>
              
               <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474cbba310d709c2fbbb0a.html">瑞士队战胜阿尔及利亚队晋级世界杯16强</a></li>
              
               <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474c4ba310d709c2fbbaf9.html">WTT美国大满贯 王楚钦止步男单16强</a></li>
              
               <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474c9fa310d709c2fbbb05.html">特朗普称美国与北约的关系“荒谬”</a></li>
              
               <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474c89a310d709c2fbbb01.html">日本宫古岛西北近海发生6.4级地震</a></li>
              
               <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a474c43a310d709c2fbbaf8.html">人社部拟发布12个新职业 具体有哪些？一起来看→</a></li>
              
               <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202607/03/WS6a4726baa310d709c2fbba83.html">淘汰奥地利 西班牙挺进世界杯16强</a></li>
                </ul>
          
        </div>
      </div>
    </div>


    <div class="pc">
      
        <!--底部 -->      
      <div class="dibu">
        <div class="foot">
          <div class="foot-left">
            <div class="en-lo"><a href="https://cn.chinadaily.com.cn" target="_blank"><img src="https://cn.chinadaily.com.cn/image/2025/logo_cnbottom.png" /></a></div>
            <div class="foot-lian"><span><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6bf/" target="_blank">关于我们</a></span> 
              <span>|</span> 
              <span><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6c2/" target="_blank">联系我们</a></span></div>
          </div>
          <div class="foot-right">
            <div class="foot-one">
              <ul>
                <li><a href="https://cn.chinadaily.com.cn/" target="_blank">首页</a></li>

                <li><a href="https://china.chinadaily.com.cn/" target="_blank">时评</a></li>

                <li><a href="https://world.chinadaily.com.cn/" target="_blank">资讯</a></li>

                <li><a href="https://caijing.chinadaily.com.cn/" target="_blank">财经</a></li>

                <li><a href="https://fashion.chinadaily.com.cn/" target="_blank">生活</a></li>

                <li><a href="https://kan.chinadaily.com.cn/" target="_blank">视频</a></li>

                <li><a href="https://column.chinadaily.com.cn/" target="_blank">专栏</a></li>

                <li><a href="http://cartoon.chinadaily.com.cn/index.shtml" target="_blank">漫画</a></li>
                <li>
                  <a href="https://cn.chinadaily.com.cn/yuanchuang/" target="_blank">独家</a>
                </li>
                <li><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6c5" target="_blank">招聘</a></li>
              </ul>
            </div>
            <div class="foot-two">              
               
                <ul>
                  <li>地方频道：</li>
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202008/03/WS5bf649baa3101a87ca945947.html">北京</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202008/03/WS5bf649a5a3101a87ca945946.html">天津</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201912/31/WS5bf6490da3101a87ca945945.html">河北</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201911/27/WS5bf6490ca3101a87ca945944.html">山西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201910/09/WS5bf6490ba3101a87ca945943.html">辽宁</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201909/03/WS5bf6490aa3101a87ca945942.html">吉林</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201908/08/WS5bf64909a3101a87ca945941.html">黑龙江</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201907/24/WS5bf64908a3101a87ca945940.html">上海</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201906/18/WS5bf64908a3101a87ca94593f.html">江苏</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/31/WS5bf64906a3101a87ca94593e.html">浙江</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/30/WS5bf64904a3101a87ca94593d.html">福建</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/29/WS5bf61df6a3101a87ca94593c.html">江西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/28/WS5bf61df5a3101a87ca94593b.html">山东</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/27/WS5bf61d80a3101a87ca94593a.html">河南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/26/WS5bf61d7fa3101a87ca945939.html">湖北</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/25/WS5bf61d7ea3101a87ca945938.html">湖南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/24/WS5bf61d7da3101a87ca945937.html">广东</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/23/WS5bf61d7ca3101a87ca945936.html">广西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/22/WS5bf61d7ba3101a87ca945935.html">海南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/21/WS5bf61d7aa3101a87ca945934.html">重庆</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/20/WS5bf61c86a3101a87ca945933.html">四川</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/19/WS5bf61c2fa3101a87ca945931.html">贵州</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/19/WS5bf61c85a3101a87ca945932.html">云南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/17/WS5bf61b9aa3101a87ca945930.html">西藏</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/16/WS5bf61b6ca3101a87ca94592f.html">陕西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/15/WS5bf61b2ba3101a87ca94592e.html">新疆</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/14/WS5bf619efa3101a87ca94592c.html">深圳</a></li>

                  
                </ul>
              
            </div>
            <div class="foot-two">              
                 
                <ul>
                  <li>友情链接：</li>
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a0aefa3101a87ca947bd1.html">人民网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2718a3101a87ca947c12.html">新华网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2716a3101a87ca947c11.html">中国网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2712a3101a87ca947c0f.html">国际在线</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2713a3101a87ca947c10.html">央视网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cfa3101a87ca947c17.html">中国青年网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2709a3101a87ca947c0e.html">中国经济网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cda3101a87ca947c16.html">中国台湾网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cba3101a87ca947c15.html">中国西藏网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202411/26/WS67456ec2a310b59111da591c.html">央广网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27fea3101a87ca947c18.html">光明网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202411/26/WS67456ca6a310b59111da590d.html">中国军网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27c7a3101a87ca947c13.html">中国新闻网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202411/26/WS67456ca4a310b59111da590c.html">人民政协网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202411/26/WS67456554a310b59111da58a2.html">法治网</a></li>

                  
                </ul>

            </div>
            <div class="foot-three">
              <div class="foot-three-left"><a href=""><img src="https://cn.chinadaily.com.cn/image/2016/p-20.jpg" /></a></div>
              <div class="foot-three-right">
                <ul>                  
                  <li><a href="https://cn.chinadaily.com.cn/a/202206/16/WS62aaab37a3101c3ee7adad52.html" target="_blank">违法和不良信息举报</a></li> 
                  <li><a href="https://cn.chinadaily.com.cn/image/2023/xwxxfwxkz2023.jpg" target="_blank">互联网新闻信息服务许可证10120170006</a></li>
                  <li>信息网络传播视听节目许可证0108263号</li>	
                  <li><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032503" target="_blank">京公网安备11010502032503号</a></li>
                  <li>京网文[2011]0283-097号</li>
                  <li><a href="https://beian.miit.gov.cn" target="_blank">京ICP备13028878号-6</a></li>                  
                </ul>
              </div>

            </div>
            <div class="foot-four">
              <div class="foot-four-one">中国日报网版权说明：凡注明来源为“中国日报网：XXX（署名）”，除与中国日报网签署内容授权协议的网站外，其他任何网站或单位未经允许禁止转载、使用，违者必究。如需使用，请与010-84883777联系；凡本网注明“来源：XXX（非中国日报网）”的作品，均转载自其它媒体，目的在于传播更多信息，其他媒体如需转载，请与稿件来源方联系，如产生任何问题与本网无关。</div>
            </div>
            <div class="foot-four">
              <div class="foot-four-one">版权保护：本网登载的内容（包括文字、图片、多媒体资讯等）版权属中国日报网（中报国际文化传媒（北京）有限公司）独家所有使用。 未经中国日报网事先协议授权，禁止转载使用。给中国日报网提意见：rx@chinadaily.com.cn</div>
            </div>
          </div>
        </div>
      </div>    
      <!--二维码-->
      <div id="identifier-pannel2"><a href="#" shape="rect">C财经客户端 <img height="94" width="94" src="https://img3.chinadaily.com.cn/static/2022cn_index/img/C-caijingerweima.png" /> 扫码下载</a></div>
      <div id="identifier-pannel3"><a href="#" shape="rect">Chinadaily-cn <img height="94" width="94" src="https://img3.chinadaily.com.cn/static/2022cn_index/img/rwm_cn.png" />中文网微信</a></div>
      <div id="zd" class="abs"><a id="totop" title="" style="display: block;" shape="rect"></a></div>
  
    </div>
    <div class="mobile">
      
        <!-- Mobile_Footer -->
      <div class="Mobile_Footer_Box">
        <div class="Mobile_Footer_Lanmu_Div">
          <ul class="Cen1200">
            <li><a href="//cn.chinadaily.com.cn" target="_top" shape="rect">首页</a></li>
            <li><a href="//china.chinadaily.com.cn" target="_top" shape="rect">时评</a></li>
            <li><a href="//world.chinadaily.com.cn" target="_top" shape="rect">资讯</a></li>
            <li><a href="//caijing.chinadaily.com.cn" target="_top" shape="rect">C财经</a></li>
            <li><a href="//fashion.chinadaily.com.cn/" target="_top" shape="rect">生活</a></li>
            <li><a href="//kan.chinadaily.com.cn" target="_top" shape="rect">视频</a></li>
            <li><a href="//column.chinadaily.com.cn/" target="_top" shape="rect">专栏</a></li>
            <li><a href="https://cnews.chinadaily.com.cn/" target="_top" shape="rect">地方</a></li>
            <li><a href="//cartoon.chinadaily.com.cn/index.shtml" target="_top" shape="rect">漫画</a></li>
            <li><a href="//cn.chinadaily.com.cn/gtx" target="_top" shape="rect">观天下</a></li>
          </ul>
        </div>
        <div class="Mobile_Footer_Lang_Box">
          <div class="Mobile_Footer_Lang_Div Cen1200">
            <span class="LangNow" onclick="transView()" id="showpc">PC版</span>
            <span class="LangNowLine"><a href="https://cn.chinadaily.com.cn" target="_blank" shape="rect">中文</a></span>
            <span><a href="https://www.chinadaily.com.cn" target="_blank" shape="rect">English</a></span>
          </div>
        </div>
        <div class="Mobiel_Footer_Logo_Div">
          <div class="Mobiel_Footer_Logo">
            <a href="https://cn.chinadaily.com.cn" shape="rect"><img src="https://cn.chinadaily.com.cn/image/2025/logo_cnbottom.png" /></a>
          </div>
          <div class="copyright">
            中国日报版权所有<br clear="none" />Content@chinadaily.com.cn
          </div>
        </div>
      </div>
  
    </div>
    <!-- 全屏查看器 -->
    <div id="image-viewer">
      <div id="viewer-indicator"></div>
      <div id="viewer-close">×</div>
      <div id="viewer-container">
        <div id="viewer-images"></div>
      </div>
    </div>

    <script xml:space="preserve">
      //<![CDATA[
      // 检测是否为移动设备
      function isMobileDevice() {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
      }

      // 只在移动端启用功能
      if (isMobileDevice()) {
        document.addEventListener('DOMContentLoaded', function() {
          // 获取div#Content内的所有图片
          const images = document.querySelectorAll('#Content img');

          // 获取查看器元素
          const imageViewer = document.getElementById('image-viewer');
          const viewerImages = document.getElementById('viewer-images');
          const viewerIndicator = document.getElementById('viewer-indicator');
          const viewerClose = document.getElementById('viewer-close');

          // 当前图片索引
          let currentIndex = 0;
          let startX = 0;
          let currentX = 0;
          let isDragging = false;

          // 初始化查看器
          function initViewer() {
            // 清空查看器内容
            viewerImages.innerHTML = '';

            // 添加所有图片到查看器
            images.forEach((img, index) => {
              const item = document.createElement('div');
              item.className = 'viewer-image-item';

              // 添加加载动画
              const loading = document.createElement('div');
              loading.className = 'viewer-loading';
              item.appendChild(loading);

              const imageClone = new Image();
              imageClone.src = img.src;
              imageClone.onload = function() {
                item.removeChild(loading);
              };
              item.appendChild(imageClone);

              viewerImages.appendChild(item);

              // 添加点击事件
              img.addEventListener('click', function() {
                openViewer(index);
              });
            });

            // 添加触摸事件监听
            setupTouchEvents();
          }

          // 打开查看器
          function openViewer(index) {
            currentIndex = index;
            updateViewer();
            imageViewer.classList.add('active');
            document.body.style.overflow = 'hidden'; // 防止背景滚动
          }

          // 关闭查看器
          function closeViewer() {
            imageViewer.classList.remove('active');
            document.body.style.overflow = ''; // 恢复背景滚动
          }

          // 更新查看器显示
          function updateViewer() {
            // 移动图片到正确位置
            viewerImages.style.transform = `translateX(-${currentIndex * 100}%)`;

            // 更新指示器
            viewerIndicator.textContent = `${currentIndex + 1}/${images.length}`;
          }

          // 设置触摸事件
          function setupTouchEvents() {
            const container = document.getElementById('viewer-container');

            // 触摸开始
            container.addEventListener('touchstart', function(e) {
              startX = e.touches[0].clientX;
              currentX = startX;
              isDragging = true;
              viewerImages.style.transition = 'none';
            });

            // 触摸移动
            container.addEventListener('touchmove', function(e) {
              if (!isDragging) return;

              currentX = e.touches[0].clientX;
              const diff = currentX - startX;

              // 跟随手指移动
              viewerImages.style.transform = `translateX(calc(-${currentIndex * 100}% + ${diff}px))`;
            });

            // 触摸结束
            container.addEventListener('touchend', function() {
              if (!isDragging) return;

              isDragging = false;
              viewerImages.style.transition = 'transform 0.3s ease-out';

              const diff = currentX - startX;
              const threshold = 50; // 滑动阈值

              // 判断滑动方向
              if (Math.abs(diff) > threshold) {
                if (diff > 0 && currentIndex > 0) {
                  // 向右滑动，显示上一张
                  currentIndex--;
                } else if (diff < 0 && currentIndex < images.length - 1) {
                  // 向左滑动，显示下一张
                  currentIndex++;
                }
              }

              updateViewer();
            });

            // 点击空白处关闭
            imageViewer.addEventListener('click', function(e) {
              closeViewer();
            });

            // 关闭按钮点击事件
            viewerClose.addEventListener('click', closeViewer);
          }

          // 初始化查看器
          initViewer();
        });
      }
      //]]>
    </script>
    
      <!--心动统计系统 -->
      <script src="https://xd.cdurl.cn/xdsens/autotrack.js" type="text/javascript" data-config="{'host':'//xd.cdurl.cn/receiver', 'project':'Chinadailyvideo','token':'a5a00812e91149238d371a308cb61e40'}"></script>
    

    <script type="text/javascript" xml:space="preserve">
      //<![CDATA[
      var toggleBtn = document.getElementById('showpc');
      var vp = document.querySelector('meta[name=viewport]');
      var vpHtml = document.getElementById('showpc');
      vpHtml.textContent = 'desktop';
      var flag = 0;
      function transView(){
        var x = (flag) ? 'initial-scale=1' : 'width=1300';
        var  relax = (flag) ? 'none' : 'block';
        vp.setAttribute('content', x);
        document.getElementById("mobileView").style.display=relax;
        flag^=1;
      };
      //]]>
    </script> 
  </body>
  <script xml:space="preserve" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/js/pubControl.js"></script>
  <script xml:space="preserve">
    //<![CDATA[
    document.addEventListener("DOMContentLoaded", function() {
      // 获取div#Content中的所有iframe
      const contentDiv = document.getElementById('Content');
      if (contentDiv) {
        const targetIframes = contentDiv.querySelectorAll("iframe");

        // 遍历并执行调整函数
        targetIframes.forEach(iframe => {
          adjustIframeContainerSize(iframe);
        });
      } else {
        console.warn('未找到div#Content元素');
      }
    });

    function adjustIframeContainerSize(iframe) {
      if (!iframe) {
        console.warn('未找到 iframe 元素');
        return;
      }

      // 获取iframe的ID
      const iframeId = iframe.id.replace(/[^a-zA-Z]/g, "");
      console.log(iframeId)
      let vr;

      // 根据不同ID设置不同的ra值
      if (iframeId === 'playerFrameN') {
        // 从src中提取ra参数
        const iframeSrc = iframe.src;
        console.log("当前 iframe 的 src:", iframeSrc);

        try {
          const videoUrl = new URL(iframeSrc);
          vr = videoUrl.searchParams.get("ra") || "16:9";
        } catch (e) {
          console.error("解析URL失败:", e);
          vr = "16:9"; // 解析失败时使用默认值
        }
      } else if (iframeId === 'playerFrameV') {
        // 固定为9:16
        vr = "9:16";
      } else if (iframeId === 'playerFrameP') {
        // 固定为16:9
        vr = "16:9";
      } else {
        // 对于其他ID的iframe，使用默认比例
        console.log(`未处理的iframe ID: ${iframe.id}，使用默认比例`);
        vr = "16:9";
        return; // 如果不需要处理其他ID的iframe，可以取消此行注释
      }

      console.log(`iframe ID: ${iframe.id}，使用的比例值:`, vr);

      // 解析宽高比
      const ratioParts = vr.split(":").map(Number);
      if (ratioParts.length !== 2 || isNaN(ratioParts[0]) || isNaN(ratioParts[1])) {
        console.error("无效的比例值，使用默认16:9");
        ratioParts = [16, 9];
      }
      const [videoW, videoH] = ratioParts;
      const videoRatio = videoW / videoH;

      // 调整iframe尺寸
      const parent = iframe.parentElement;
      if (!parent) {
        console.warn('iframe没有父元素');
        return;
      }

      const parentWidth = parent.offsetWidth;

      function isMobileDevice() {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
      }

      function updateContainerWidth() {
        if (isMobileDevice()) {
          console.log("这是移动设备");
          iframe.style.width = parentWidth + "px";
          iframe.style.height = parentWidth / videoRatio + "px";
        } else {
          console.log("这是PC/桌面设备");
          if (videoRatio > 1) {
            iframe.style.width = parentWidth + "px";
            iframe.style.height = parentWidth / videoRatio + "px";
          } else {
            iframe.style.width = parentWidth * 0.5 + "px";
            iframe.style.height = (parentWidth * 0.5) / videoRatio + "px";
          }
        }
        console.log(`width: ${iframe.style.width}, height: ${iframe.style.height}`);
      }

      updateContainerWidth();
      iframe.addEventListener("load", updateContainerWidth);
      // 监听窗口大小变化，重新调整尺寸
      window.addEventListener("resize", updateContainerWidth);
    }
    //]]>
  </script>
  <script type="text/javascript" xml:space="preserve">
    //<![CDATA[
    var url =location.href;

    var jsonUrl = url.replace('html','json');
    var storyType = document.getElementById("storyType").innerText;
    var articleId = document.getElementById("ID").innerText;
    var ios_scheme = 'chinadailyNewsiPhone://articleId=' +articleId+'&jsonUrl='+jsonUrl;
    var encodeIos = encodeURIComponent(ios_scheme);
    var android_scheme = 'hf://com.theotino.chinadaily/openwith?json={"jsonUrl":"'+jsonUrl+'","storyType":"'+storyType+'"}'
    var encodeAndroid = encodeURIComponent(android_scheme);

    function share_weixin(){
      var ua = navigator.userAgent.toLowerCase();
      if(/iphone|ipad|ipod/.test(ua) && ua.match(/MicroMessenger/i) == 'micromessenger'){
        window.open("//a.app.qq.com/o/simple.jsp?pkgname=com.theotino.chinadaily&ios_scheme="+encodeIos);
      }
      else if(/android/.test(ua) && ua.match(/MicroMessenger/i) == 'micromessenger'){
        window.open("//a.app.qq.com/o/simple.jsp?pkgname=com.theotino.chinadaily&android_scheme="+encodeAndroid);

      }
      else{
        window.open("//www.chinadaily.com.cn/mobile/daily.html");
      }
    }
    //]]>
  </script>
</html>